*{
    margin:0;
    padding:0;
    border:none;
}

body{
    background: url(/assests/images/space-background.jpg) no-repeat center center;
    background-size: cover;
    color: white;
 
 
}

#heading-area{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    margin-bottom: 1em;
}

#heading{
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#game-area{
    width: 66%;
    height: 25em;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    border-radius: 10px;
}

#scores-area{
    height: 50px;
    margin-top: 15px;
}

#best-of{
    text-align: center;
}

#user-heading{
    float: left;
    width: 50%;
    text-align: center;
}

#computer-heading{
    float: right;
    width: 50%;
    text-align: center;
}

#user-score-div{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
}

#computer-score-div{
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
}

#game-area-results{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    margin-top: 200px;
    width: 50%;
    height: 50px;
    border-radius: 8px;
    
}

#game-result{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    
 
}

#controls-area{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
   
}

.btn{
    height: 3em;
    width: 3em;
    border: 3px solid rgb(127, 63, 191);
    color: rgb(127, 63, 191);
    border-radius: 50%;
    margin: 10px 60px 0 60px;
    font-size: 40px;
}

#rules-area{
    height: 3em;
    margin-top: 20px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

#rules-button{
    padding-top: 10px;
    text-align: center;
    height: 2em;
    width: 100%;
    border-radius: 10px;
    color: white;
    border: 3px solid white;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

